/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
/* .home {
  background-image: url(./bg.png);
  background-size: none;
} */

.main {
  height: 743px;
}

.title {
  font-family: 'TTTogether';
}

.content1, .content2, .btn, .nav, .train_input {
  font-family: 'GmarketSansMedium';
}

.search, .insert {
  font-family: 'Godo';
}

.headDate {
  font-family: 'SUITE-Regular';
}

.date {
  font-family: 'SUITE-Regular';
  font-weight: 200;
}

.scroll-container {
  overflow-y: scroll;
  /* height: 300px; */
  /* scrollbar-width: thin; /* Firefox */
  /* scrollbar-color: #888 #f1f1f1; /* Firefox */
}

/* Webkit 브라우저 전용 */
.scroll-container::-webkit-scrollbar {
  width: 10px;
  height: 20px;
  
}

.scroll-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0 20px 20px 0;
}
.scroll-container::-webkit-scrollbar-button:vertical:no-button {
  background: #f1f1f1;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: #f1f1f150;
  border-radius: 12px 12px 12px 12px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background: #5b95ff;
}

@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Godo';
  font-style: normal;
  font-weight: 400;
  src: url('//fastly.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'), url('//fastly.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff');
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TTTogether';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/TTTogetherA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HANAMDAUM';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/HANAMDAUM.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}